<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SUID</title>
        <link rel="stylesheet" href="/css/home.css" />
    </head>
    <body>
        <!-- <a href="/v1/student/signin"> -->
        <div class="container">
            <div class="block">
                <div class="titleText">
                    <div class="title">Student Unique ID Verification</div>
                </div>
                <div class="form">
                    <div class="form-inner">
                        <a href="/v1/student/signin">
                            <div class="field btn">
                                <div class="btn-layer"></div>
                                <input type="submit" value="Student">
                            </div>
                            <div class="field btn">
                                <div class="btn-layer"></div>
                                <input type="submit" value="Institution">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/home.js"></script>
    </body>
</html>
