<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <div class="request">
        <button class="all_links"><a href="/v1/institute/pending">Pending Requests</a></button>
    </div>
    <section class="profile-card">
        <div class="card">
            <div>
                <img src="<%= info.inst_logo %>" style="max-width: 200px;">
            </div>
            <h1> <%= info.inst_name %> </h1>
            <div>
                <p> Institution ID : <%= info.inst_Id %>  </p>
                <p> Email : <%= info.email %> </p>
            </div>
        </div>
    </section> 
</body>
</html>