* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: -webkit-linear-gradient(left, #003366, #0073e6);
  font-family: "Poppins", sans-serif;
}
.profile-card {
  width: 100%;
  height: 80vh;
  margin: 40px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 35%;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  border: 3px solid #549ef2;
}
.card h1 {
  text-align: center;
  margin : 25px 0;
  font-weight: 600;
  font-size: 1.3rem;
}
p {
  color: #444444;
  font-size: 15px;
  margin: 10px;
}
.img {
  max-width: 150px;
  border-radius:50%;
}
.doc_img {
  width: 200px;
}
.content {
  display: inline-block;
  padding: 0;
  margin-left: -4em;
}
.request {
  display: flex;
  justify-content: flex-end;
  width: 98%;
  margin: 10px;
}
.all_links {
  background-color: #fff;
  border: none !important;
  padding: 7px 10px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.3s ease;
}
.all_links a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #000;
}
.all_links:hover {
  box-shadow: 0 0 8px #f2f3f7;
}